<!-- certificates.html -->
{% extends 'layout.html' %}
{% set active_page = 'certificates' %}
{% block content %}
<br><br><br>
<header>
  <h2 class="h2 article-title">Certificates</h2>
</header>

               <section class="projects">
                  <ul class="project-list">
                     <li class="project-item active">
                        <a href="https://www.hackerrank.com/certificates/3ad344462076">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\SQL_BASIC.png" alt="Solar Industries" loading="lazy">
                           </figure>
                           <h3 class="project-title">SQL (Basic) Certificate</h3>
                           <p class="project-category">HackerRank</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1Dho2Ahf3655KqUht6pTE4ZSLpe98jaKr/view?usp=sharing">
                           <figure class="project-img">
                              <img src="static\assets\certificates\SolarCompletionCertif.jpg" alt="Solar Industries" loading="lazy">
                           </figure>
                           <h3 class="project-title">IIOT Internship</h3>
                           <p class="project-category">Solar Industries India Limited</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://archive.nptel.ac.in/content/noc/NOC24/SEM1/Ecertificates/106/noc24-cs17/Course/NPTEL24CS17S36290251330681948.pdf">
                           <figure class="project-img">
                              <img src="static\assets\images\NPTEL_CC.jpg" alt="NPTEL" loading="lazy">
                           </figure>
                           <h3 class="project-title">Cloud Computing</h3>
                           <p class="project-category">NPTEL</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://archive.nptel.ac.in/content/noc/NOC24/SEM1/Ecertificates/106/noc24-cs52/Course/NPTEL24CS52S56290023630681948.pdf">
                           <figure class="project-img">
                              <img src="static\assets\images\NPTEL_RL.jpg" alt="NPTEL" loading="lazy">
                           </figure>
                           <h3 class="project-title">Reinforcement Learning</h3>
                           <p class="project-category">NPTEL</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1XQk4pr6LwPpHMpRhIeuV3TDiHlZHej9Q/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Clustor Computing - Internship Certificate_page-0001.jpg" alt="clustorcomputing" loading="lazy">
                           </figure>
                           <h3 class="project-title">Data Science Internship</h3>
                           <p class="project-category">Clustor Computing</p>
                        </a>
                     </li>
                     <!-- project 2 -->
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1VSh5o9ti4fi4XiI8b4Sjg6hWX3xexVFo/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\TPDC - Online Student Mentoring System_page-0001.jpg" alt="TPDC" loading="lazy">
                           </figure>
                           <h3 class="project-title">Online Student Mentoring System</h3>
                           <p class="project-category">TPDC Cell</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1pxKwoYVBCRxcpvggSNFBUCYWEwOVqExt/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\APPXBUILD (1)_page-0001.jpg" alt="Appxbuild" loading="lazy">
                           </figure>
                           <h3 class="project-title">Web Development Internship</h3>
                           <p class="project-category">AppxBuild</p>
                        </a>
                     </li>
                     <!-- project 2 -->
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1XQk4pr6LwPpHMpRhIeuV3TDiHlZHej9Q/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Clustor Computing - Internship Certificate_page-0001.jpg" alt="clustorcomputing" loading="lazy">
                           </figure>
                           <h3 class="project-title">Data Science Internship</h3>
                           <p class="project-category">Clustor Computing</p>
                        </a>
                     </li>
                     <!-- project 2 -->
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1glA5yW6WTbO3FWNEFdZ-okuQbWCb-jSQ/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Coursera - Introduction to Python Programming_page-0001.jpg" alt="Python Programming" loading="lazy">
                           </figure>
                           <h3 class="project-title">Introduction to Python Programming</h3>
                           <p class="project-category">Coursera</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1p_sVZcp77fnjfvkyQ3gN-KK2mDgHWPnW/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Coursera - Introduction to Data Analysis using Microsoft_page-0001.jpg" alt="Dataanalysis" loading="lazy">
                           </figure>
                           <h3 class="project-title">Introduction to Data Analysis using Microsoft</h3>
                           <p class="project-category">Coursera</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1zC_zYOYpnh50jmfStVLShVj8RrIieF7r/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Coursera - Introduction to Microsoft Excel_page-0001.jpg" alt="Microsoft Excel" loading="lazy">
                           </figure>
                           <h3 class="project-title">Introduction to Microsoft Excel</h3>
                           <p class="project-category">Coursera</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1dkBEpp5jBeJ4ahpI_-5PDzSVvOmPyxQU/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\MicrosoftCertificate_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">Microsoft AI Classroom Series</h3>
                           <p class="project-category">Microsoft</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1MV2Nw1CZfRro_BTo1kO1DrDshhqt4AqA/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\MLSA Attendee Certificates-132_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">Microsoft Azure Fundamentals</h3>
                           <p class="project-category">Microsoft</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1AdO8JT8QJrkuOuKW7PbSCkoCTAfcJsWA/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Sahil Santosh Karande - MLSA_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">Hands on Web Development</h3>
                           <p class="project-category">Microsoft</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1QWGEmOPeqKnMbMBKE8Bj1WuBH88BwKLl/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\LOR GDSC 2022_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">Letter of Recommendation</h3>
                           <p class="project-category">GDSC SVPCET 2022</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1QWGEmOPeqKnMbMBKE8Bj1WuBH88BwKLl/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\GDSC LOR_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">Letter of Recommendation</h3>
                           <p class="project-category">GDSC SVPCET 2021</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1UShHUdcQ6pccFipKSVK6AAeu4opuUimx/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Sahil Karande_30-DGC_page-0001.jpg" alt="Microsoft" loading="lazy">
                           </figure>
                           <h3 class="project-title">30 Days of Gooogle Cloud</h3>
                           <p class="project-category">Google Cloud</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/13gbFK4K6MUbN6Ic29j8xaCwy1gESTq8Y/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Spoken Tutotial IIT Bombay -Completion of C Training_page-0001.jpg" alt="SpokenTutorials" loading="lazy">
                           </figure>
                           <h3 class="project-title">C Language training</h3>
                           <p class="project-category">Spoken Tutorials IIT Bombay</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1TIaAK5ZjsHKoQYIyD9QtGEiIzT_jd52p/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\TCS NQT Scoe card_page-0001.jpg" alt="TCS NQT" loading="lazy">
                           </figure>
                           <h3 class="project-title">Cognitive Exam Score</h3>
                           <p class="project-category">TCS NQT</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1l-4XGdManavyFghcCorK2Kl2lvWI_ZGw/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Sahil_Feb_2022_participation_17615_page-0001.jpg" alt="AI " loading="lazy">
                           </figure>
                           <h3 class="project-title">Artificial Intelligence Program</h3>
                           <p class="project-category">Techfest IIT Bombay</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/11MCKqKnPeH9k572W3iHtB-SAhy9uyjZR/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Unstop - Flipkart 5.0 - COP_page-0001.jpg" alt="Flipkart 5.0 " loading="lazy">
                           </figure>
                           <h3 class="project-title">Flipkart 5.0</h3>
                           <p class="project-category">Unstop</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1O8NDChxsJ7lxxf_wWr6MmAznrAbu6jtA/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Unstop - TechWiz - COP_page-0001.jpg" alt="TechWiz " loading="lazy">
                           </figure>
                           <h3 class="project-title">TechWiz</h3>
                           <p class="project-category">Unstop</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1Ehxz3gzVfCi_KmD8uzq_wgMsmOc_Pa6i/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\YBI  - Python And ML_page-0001.jpg" alt="YBI" loading="lazy">
                           </figure>
                           <h3 class="project-title">Python Programming and Machine Learning</h3>
                           <p class="project-category">YBI Foundation</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1GZfZOsHkF4kwQUVxmHyesm8nJQc2DPo9/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Technex - EncipherX.jpg" alt="EncipherX " loading="lazy">
                           </figure>
                           <h3 class="project-title">EncipherX Team Member</h3>
                           <p class="project-category">Technex 2022</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1PkwUVMf-Rzi2afpWbkeunzn35h5qCNO2/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Infinity Ideatank.jpg" alt="Ideatank team Member" loading="lazy">
                           </figure>
                           <h3 class="project-title">Ideatank Team Member</h3>
                           <p class="project-category">Infinity 2022</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1MXC6Bo8v5N7ugiST2BsAf20UOy0fGgot/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Infinity Registration.jpg" alt="Registration head" loading="lazy">
                           </figure>
                           <h3 class="project-title">Registration Head</h3>
                           <p class="project-category">Infinity 2022</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1K8W-7Z-rXnLTwTceoSNTnkX_KKfNLkjm/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Suryodaya COP.jpg" alt="Ideafest" loading="lazy">
                           </figure>
                           <h3 class="project-title">Ideafest</h3>
                           <p class="project-category">Patent Fest 2023</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/1pTUil5E3TfGohQDVlIz0YA_rlwJZ5XcO/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\SAHIL KARANDE YCCE _page-0001.jpg" alt="Antaheen " loading="lazy">
                           </figure>
                           <h3 class="project-title">Technoclick</h3>
                           <p class="project-category">Antaheen 21.0 Civil Department YCCE</p>
                        </a>
                     </li>
                     <li class="project-item active">
                        <a href="https://drive.google.com/file/d/16YOyahRegW4Z_bMDb9jhTKITUrsWvtl8/view?usp=drive_link">
                           <figure class="project-img">
                              <img src="static\assets\certificates\Images\Cisco - Introduction to IOT_page-0001.jpg" alt="Antaheen " loading="lazy">
                           </figure>
                           <h3 class="project-title">Introduction to IOT</h3>
                           <p class="project-category">Cisco Networking Academy</p>
                        </a>
                     </li>
                  </ul>
               </section>
{% endblock %}
